@use '../base/variables' as v;
@use '../base/mixsins' as m;

.header{

    &.fijo{
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        box-shadow: .1rem .2rem .3rem rgba(0, 0, 0, .5);
        z-index: 999;
        
    }
    background-color: v.$verde;
    h1{
        color: v.$blanco;
        text-align: center;
        margin: 0;
        padding: 2rem 0;

    }
    .contenido-header{
        padding: 2rem;

        @include m.tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 0;

        }
    }
}

.navegacion-principal{
    @include m.tablet {
        display: flex;
        gap: 2rem;
        align-items: center;
        
    }
    a{ 
        display: block;
        text-align: center;
        color: v.$blanco;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        @include m.tablet {
            margin: 0;
        }

        &:hover{
            color: v.$amarillo;
        }
    }
}
